<%- include ('includes/head') %>

<center>
    <h1>ABOUT</h1>
    <a href="https://www.linkedin.com/in/ankit-pramanik-179765181/"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFog5tJUR-ixA/profile-displayphoto-shrink_400_400/0?e=1597276800&v=beta&t=L5BsQqvNZ2T1V_YzuMvRSH8e59qaNoZWEcXMf7E4T4A"></a><br><br>

    <h2>NAME: <a href="">ANKIT PRAMANIK</a></h3>
    <h2>MOBILE NO: 9804019155</h2>
    <h2>EMAIL ID: PRAMANIK.85849@GMAIL.COM</h2>
  </center>